body{
	font-family: Arial;
}

#logo{
	width: 416px;		
	margin-right: auto;
	margin-left:  auto;
}

#logo form input{
	width: 416px;
	height: 25px;
}

#logo form{
	margin-top: -125px;
	margin-right: auto;
	margin-left:  auto;
	width: 416px;
}

#nav li{
	display: inline;
	float: right;
	padding:0 3px 0 3px;
	color: #4c4c4c;
	margin-right:10px;
	font-size:13px;
	margin-top:6px;
	font-family:Arial;
}

#nav li:nth-child(4){
	margin-top:-3px;
	padding-left: 1px;
	padding-right: 1px;
}

#nav li:nth-child(1){
	margin-top: -12px;
	padding-left: 0px;
}

#nav li:nth-child(2){
	margin-top: -3px;
	padding-left: 1px;
	padding-right: 1px;
}

#nav li:nth-child(3){
	margin-top: -4px;
	padding-left: 1px;
	padding-right: 1px;
}

li a{
	color: #4c4c4c;
	text-decoration: none;

}

li a:hover{
	text-decoration: underline;
}


.footer{
    width: 100%;
    position: fixed;
    background-color: #f5f5f5;
    height: 45px;
    color: #767676;
    font-size: 13px;
    border-top: 1px solid #c0c0c0;
    bottom: -5px;
    left: -2px;
}

.footer div.container{
	display: inline;
	width: 100%;
}

.footer ul{
    list-style: none;
    display: inline-block;
    width: 45%;
}

.footer ul li{
    width: 160px;
    list-style: none;
    display: inline;
    padding: 0 15px 0 15px;
}

#right ul{
	text-align: right;

}

#left ul{
	text-align: left;
}

#left ul li:nth-child(1){
	padding-left: 0px;
}

#right ul li:nth-child(3){
	padding-right: 0px;
}




